.btn {
    display: inline-block;
    /* float: left; */
    margin-left: calc(var(--main-space) * 2);
    padding: 10px 30px;
    background-color: var(--secondary-color);
    opacity: 0.9;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px #0008;
}
    .btn:hover {
        box-shadow: 0 4px 10px #000a;
        opacity: 1;
}