/* custom CSS */

.container.hero {
    padding-bottom: var(--section-padding);
}

footer.container {
    padding-top: 0;
    padding-bottom: calc(var(--section-padding) * 1.5);
}
        footer.container > .row-short {
            margin-top: var(--section-padding);
        }

.bg-main-color {
    background-color: var(--main-color);
}